@{
    ViewData["Title"] = "Home Page";
}
<style>
    #Image {
        position: relative;
    }

    #Image img {
            overflow: hidden;
            justify-content: center;
            width: 100%;
            height: auto;
            border-radius: 2%;
        }

    #Image h1 {
            position: absolute;
            top: 3%;
            left: 0%;
            right: 0%;
            color: white;
            font-size: 40px;
            font-family: cursive;
            text-shadow: 3px 3px black;
        }
</style>

<div class="text-center">
    <div id="Image">
        <img src="https://c0.wallpaperflare.com/preview/845/763/646/shoes-legs-couple-friends.jpg" />
        <h1>
            Обувки „Комфорт“
        </h1>
        
    </div>

</div>
